<div class="container menu">
    <h1 class="menu-header main-menu-header">Ankh-Morpork<br>Main Menu</h1>
    @Html.ActionLink("Start", "CreateEvent", "Events", null, new { @class = "menu-button" })
    @Html.ActionLink("Statistics", "Statistics", "Home", null, new { @class = "menu-button" })
    @Html.ActionLink("Reset Player", "ResetPlayer", "Home", null, new { @class = "menu-button" })
</div>
