@using Ankh_Morpork_MVC.Models
@model System.Collections.Generic.List<Game>

@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container menu">
    <h1 class="menu-header">Statistics</h1>    
    <div class="table-container">
    <table class="table table-borderless statistics-table">
        <thead >
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date played</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var game in Model)
                {
                    <tr>
                        <td>@game.Id</td>
                        <td>@game.DatePlayed</td>
                        <td>@game.Score</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>
    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "menu-button back-button" })
</div>



